.leaflet-container {
  width: 70vw;
  height: 70vh;
}

.leaflet-routing-collapse-btn {
  right: 15px;
  z-index: 2;
  color: black;
}

.leaflet-control-container,
.leaflet-routing-container-hide,
.leaflet-routing-container {
  display: none;
}
